@mixin spacings($type) {
  @if $type == all {
    &-xl {
      padding: $spacing-xl;
    }
    &-l{
      padding: $spacing-l;
    }
    &-m{
      padding: $spacing-m;
    }
    &-s {
      padding: $spacing-s;
    }
    &-xs{
      padding: $spacing-xs;
    }
  }  @else {
    &-#{$type}{
      &-xl {
        padding-#{$type}: $spacing-xl;
      }
      &-l{
        padding-#{$type}: $spacing-l;
      }
      &-m{
        padding-#{$type}: $spacing-m;
      }
      &-s {
        padding-#{$type}: $spacing-s;
      }
      &-xs{
        padding-#{$type}: $spacing-xs;
      }
    }
  }
  
 
}
.padding {
  @include spacings('all');
  @include spacings('top');
  @include spacings('bottom');
  @include spacings('left');
  @include spacings('right');
}

